<a href="https://colab.research.google.com/github/JacobBlackman/BTE320/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Shape Area Calculator
h = 10
r = 3
pi = 3.14

Area = 2 * pi * r ** 2 + 2 * pi * r * h

print(Area)

244.92000000000002

In [ ]:
#Rock-Paper-Scissors (without the while loop)
Player_1 = input('Give move for Player 1, Rock, Paper, or Scissors: ')
Player_2 = input('Give move for Player 2, Rock, Paper, or Scissors: ')


if Player_1 == Player_2:
  return_amount = 'Draw'

elif Player_1 == 'Paper' and Player_2 == 'Rock':
  return_amount = 'Player 1 Wins'
elif Player_1 == 'Rock' and Player_2 == 'Paper':
  return_amount = 'Player 2 Wins'

elif Player_1 == 'Scissors' and Player_2 == 'Paper':
  return_amount = 'Player 1 Wins'
elif Player_1 == 'Paper' and Player_2 == 'Scissors':
  return_amount = 'Player 2 Wins'

elif Player_1 == 'Rock' and Player_2 == 'Scissors':
  return_amount = 'Player 1 Wins'
elif Player_1 == 'Scissors' and Player_2 == 'Rock':
  return_amount = 'Player 2 Wins'

print(return_amount)

Give move for Player 1, Rock, Paper, or Scissors: Scissors
Give move for Player 2, Rock, Paper, or Scissors: Paper
Player 1 Wins

In [ ]:
#Rock-Paper-Scissors (with the while loop)
import random
choice = input("Do you want to play a game? ").lower()
while choice == 'yes':
  p1 = input("Choose rock, paper, scissors: ").lower()
  p2 = random.choice(['rock', 'paper', 'scissors'])
  print(f'Computer chose {p2}.')

  if p1 == p2:
    print('draw')
  elif p1== 'rock' and p2== 'scissors':
    print('You Win!')
  elif p1== 'scissors' and p2== 'paper':
    print('You Win!')
  elif p1== 'paper' and p2== 'rock':
    print('You Win!')
  else:
    print('Player 2 wins!')
  choice = input("Do you want to play again? ")

Do you want to play a game? yes
Choose rock, paper, scissors: rock
Computer chose rock.
draw
Do you want to play again? no

In [ ]:
#Numerical Calculator Personal
Value1 = float(input('Choose a number: '))
Value2 = float(input('Choose a number: '))
Symbol = str(input('Choose a symbol (+, -, *, /, **): '))

if Symbol == '+':
  print (Value1+Value2)
elif Symbol == '-':
   print (Value1-Value2)
elif Symbol == '*':
   print (Value1*Value2)
elif Symbol == '/':
   print (Value1/Value2)
elif Symbol == '**':
   print (Value1**Value2)

Choose a number: 5
Choose a number: 5
Choose a symbol (+, -, *, /, **): +
10.0

In [ ]:
#Numerical Calculator Class
n1 = float(input('enter number: '))
n2 = float(input('enter number: '))
symbol = input('Choose operator (+, -, *, /, **): ')

if symbol == '+':
  print(n1+n2)
elif symbol == '-':
  print(n1-n2)
elif symbol == '*':
  print(n1*n2)
elif symbol == '/':
  print(n1/n2)
else:
  print(n1**n2)

enter number: 5
enter number: 3
Choose operator (+, -, *, /, **): **
125.0

In [ ]:
#Parking Garage
flatrate = 5
hourlyrate = 2.5

for hour in range (1,9,1):
  charge = flatrate + hourlyrate * hour
  if charge < 10:
    charge = 10.0
  elif charge > 20:
    charge = 20.0

  print(hour, charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
# Movie Theater Problem
ticket = 10
fixedcosts = 200

for ad in range (0,201,25):
  additional = 2*round(ad**.5)
  profit = (20 + additional)*10-200-ad

  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
# Askes User to Provide Interger Values Until User Inputs 0
List=[]
item = int(input('Give a value: '))

while item != 0:
  List.append(item)
  item = int(input('Give another value: '))


print(List)

Give a value: 1
Give another value: 2
Give another value: 3
Give another value: 4
Give another value: 5
Give another value: 6
Give another value: 7
Give another value: 8
Give another value: 9
Give another value: 0
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Personal
months = {}

names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[i+1] = names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
# In-Class Model
months = {}

names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[numbers[i]] = names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
#In-Class Model 2
months = {}

names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(1,13):
  months[i]= names[i-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
for key in months.keys():
  print(key)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
# Assignment 1: House Hunting
annual_salary = float(input("Enter annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save: "))
total_cost = float(input("Enter cost: "))

portion_down_payment = 0.25
current_savings = 0.0
r = 0.04
months = 0

down_payment = total_cost * portion_down_payment

while current_savings <= down_payment:
    current_savings += current_savings * r / 12
    current_savings += (annual_salary / 12) * portion_saved
    months += 1

print("Number of months:", months)

Enter annual salary: 120000
Enter the percent of your salary to save: .1
Enter cost: 1000000
Number of months: 183

In [ ]:
# Assignment 2:
annual_salary = float(input("Enter annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save: "))
total_cost = float(input("Enter cost: "))
semi_annual_raise = float(input("Enter the semi-annual raise: "))

portion_down_payment = 0.25
current_savings = 0.0
r = 0.04
months = 0

down_payment = total_cost * portion_down_payment

while current_savings < down_payment:
    current_savings += current_savings * r / 12
    current_savings += (annual_salary / 12) * portion_saved
    months += 1
    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise

print("Number of months:", months)

Enter annual salary: 120000
Enter the percent of your salary to save: .05
Enter cost: 500000
Enter the semi-annual raise: .03
Number of months: 142

In [ ]:
# Assignment 3: Check if a number is within a range
number = int(input("Enter a number: "))
low = int(input("Enter the start of the range: "))
high = int(input("Enter the end of the range: "))

def range_check(number, low, high):
    if low <= number <= high: # or if num >= low and num <= high
      return True
    else:
      return False

print(range_check(number,low,high))

Enter a number: 3
Enter the start of the range: 2
Enter the end of the range: 4
True

In [ ]:
#Parking Garage - Initial Problem
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
print(f)

Enter hours for parking: 4
15.0

In [ ]:
#Parking Garage Enhancements
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print(fee)

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
x = displayFee(f)

Enter hours for parking: 4
15.0

In [ ]:
#Recurssion
def rev(S):
  if len(S) == 5:
    return "olleH"
  else:
    return S(-1) + rev(S[:-1])

rev("Hell")

'olleH'

In [ ]:
'''
Function that calculates the weighted average list L, given weights w
The function sshould handle the folowing exception error types:
- ZeroDividionError (returns empty list)
- TypeError (returns empty list)
- anyother unknown error (returns float('nan'))

'''
def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print("Division by Zero.")
    return []
  except TypeError:
    print("Non-numerical object found.")
    return []
  except Exception as e:
    print(f'Uknown error: {e}')
    return float('nan')

wAvg([1,2,3],[.25,.5,.25])

2.0

In [9]:
#Define a class names Student. Student has twoo attributes:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'Name: {self.name}.'

In [10]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

In [12]:
print(s1)

Name: James Bond.